Repository universal-inbox/universal-inbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, hadolint, clippy, test

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: fmt
        name: Format Rust code
        description: Format files with cargo fmt
        entry: just format
        language: system
        files: \.rs$
        pass_filenames: false
        args: []
        stages: [pre-commit]
        priority: 0

  - repo: local
    hooks:
      - id: todo
        name: Check TODO in the code
        language: system
        pass_filenames: false
        entry: bash -c 'rg TODO && false || true'
        stages: [pre-commit]
        priority: 10

  - repo: local
    hooks:
      - id: hadolint
        name: Lint Dockerfile
        language: system
        entry: just lint-dockerfile
        pass_filenames: false
        files: Dockerfile$
        stages: [pre-commit]
        priority: 10
        
  - repo: local
    hooks:
      - id: clippy
        name: Check Rust code
        language: system
        pass_filenames: false
        entry: just check
        files: \.rs$
        stages: [pre-commit]
        priority: 10

  - repo: local
    hooks:
      - id: cargo-machete
        name: Detect unused Rust dependencies
        language: system
        pass_filenames: false
        entry: just check-unused-dependencies
        stages: [pre-commit]
        priority: 10

  - repo: local
    hooks:
      - id: test
        name: Test Rust code
        language: system
        pass_filenames: false
        entry: just test
        files: \.rs$
        stages: [pre-commit]
        priority: 20

ci(doc): add top-level permissions: contents: read
  .github/workflows/doc.yml
Due: none

ci: pin third-party actions to commit SHAs in ci-main.yml (bkj.4)
  .github/dependabot.yml
  .github/workflows/ci-main.yml
  .pinact.yaml
  devbox.json
  devbox.lock
Due: none

test(browser): fix flaky login/signup tests by atomically submitting form
  api/tests/browser/helpers.rs
  api/tests/browser/test_user_login.rs
  api/tests/browser/test_user_registration.rs
Due: fmt, clippy, test

fix(security): stop leaking Crisp HMAC signing key via /api/front_config
  api/src/routes/config.rs
  src/lib.rs
  web/src/config.rs
Due: fmt, clippy, test

ci: pin coverallsapp/github-action to v2.3.6 SHA
  .github/workflows/ci-main.yml
Due: none

security: Pin third-party actions in ci-pr.yml to commit SHAs
  .github/workflows/ci-pr.yml
Due: none

fix(ci): pin jlumbroso/free-disk-space to v1.3.1 SHA in ci-pr.yml
  .github/workflows/ci-pr.yml
Due: none

ci: pin doc.yml actions to commit SHAs and add Dependabot
  .github/workflows/doc.yml
Due: none

fix(docker): copy vendored rmcp-actix-web into build stages and fail loudly on push errors
  Dockerfile
  docker/.justfile
Due: hadolint

fix(security): require user consent for OAuth2 authorization code
  .justfile
  api/migrations/20260518084509_create_oauth2_user_consent.down.sql
  api/migrations/20260518084509_create_oauth2_user_consent.up.sql
  api/src/lib.rs
  api/src/middlewares/audience_guard.rs
  api/src/middlewares/mod.rs
  api/src/repository/oauth2.rs
  api/src/routes/oauth2.rs
  api/src/universal_inbox/oauth2/service.rs
  api/tests/api/helpers/mod.rs
  api/tests/api/test_mcp.rs
  src/auth/oauth2.rs
  web/.justfile
  web/src/pages/mod.rs
  web/src/pages/oauth2_consent_page.rs
  web/src/route.rs
  web/src/services/mod.rs
  web/src/services/oauth2_consent_service.rs
Due: fmt, clippy, test

fix: prevent cross-tenant writes via task third_party_item endpoint
  api/src/routes/third_party.rs
  api/src/universal_inbox/third_party/service.rs
  api/tests/api/helpers/mod.rs
  api/tests/api/helpers/third_party.rs
  api/tests/api/main.rs
  api/tests/api/test_github_notifications.rs
  api/tests/api/test_slack_tasks.rs
  api/tests/api/test_sync_github_notifications.rs
  api/tests/api/test_sync_google_drive_comments.rs
  api/tests/api/test_sync_google_mail_threads.rs
  api/tests/api/test_sync_linear_notifications.rs
  api/tests/api/test_sync_ticktick_tasks.rs
  api/tests/api/test_sync_todoist_tasks.rs
  api/tests/api/test_tasks.rs
  api/tests/api/test_third_party.rs
  api/tests/api/test_ticktick_tasks.rs
  api/tests/api/test_todoist_notifications.rs
  api/tests/api/test_todoist_tasks.rs
Due: fmt, clippy, test

fix: Verify Slack webhook signatures (universal-inbox-bkj.34)
  Cargo.lock
  api/Cargo.toml
  api/config/default.toml
  api/config/test.toml
  api/src/configuration.rs
  api/src/lib.rs
  api/src/routes/webhook.rs
  api/src/universal_inbox/oauth2/service.rs
  api/tests/api/helpers/mod.rs
  api/tests/api/helpers/slack.rs
  api/tests/api/test_slack_tasks.rs
  api/tests/api/test_slack_webhook.rs
  api/tests/api/test_slack_webhook_message.rs
  api/tests/api/test_slack_webhook_star_reaction.rs
Due: fmt, clippy, test

fix(security): drop root and pin stable base in runtime stage of Dockerfile
  Dockerfile
Due: hadolint

fix(security): tighten CORS and add frame-ancestors/X-Frame-Options
  api/src/lib.rs
  api/tests/api/test_misc.rs
Due: fmt, clippy, test

fix(security): authorize_session must clear cached OIDC authorization URL
  api/src/routes/auth.rs
  api/tests/api/test_auth.rs
Due: fmt, clippy, test

fix(security): make /api/front_config Cache-Control private
  api/src/routes/config.rs
Due: fmt, clippy, test

fix(security): lighten /ping DB check and add IP rate limit
  api/src/lib.rs
  api/src/routes/health_check.rs
  api/src/universal_inbox/integration_connection/service.rs
  api/tests/api/test_health_check.rs
Due: fmt, clippy, test

fix(security): return uniform 404 on integration-connection IDOR probes
  api/src/routes/integration_connection.rs
  api/tests/api/test_integration_connections.rs
Due: fmt, clippy, test

fix(security): redact OAuth callback error chain from redirect URL
  api/src/routes/health_check.rs
  api/src/routes/oauth.rs
  api/tests/api/main.rs
  api/tests/api/test_health_check.rs
  api/tests/api/test_integration_connections.rs
  api/tests/api/test_oauth_callback.rs
  web/Cargo.toml
  web/src/pages/settings_page.rs
Due: fmt, clippy, test

fix(security): key OAuth2 rate limiter on real client IP, not peer_addr
  api/src/routes/oauth2.rs
  api/tests/api/test_mcp.rs
Due: fmt, clippy, test

fix(security): atomic refresh-token rotation with reuse detection
  api/src/repository/oauth2.rs
  api/src/universal_inbox/oauth2/service.rs
  api/tests/api/test_mcp.rs
Due: fmt, clippy, test

fix(security): add IP rate limit to authentication endpoints
  api/src/lib.rs
  api/src/routes/health_check.rs
  api/src/routes/oauth2.rs
  api/src/routes/user.rs
  api/src/utils/mod.rs
  api/src/utils/rate_limit.rs
  api/tests/api/test_mcp.rs
  api/tests/api/test_users.rs
  devbox.d/caddy/Caddyfile
Due: fmt, clippy, test

fix(security): make passkey start endpoints non-enumerable
  api/src/repository/user.rs
  api/src/routes/mod.rs
  api/src/universal_inbox/mod.rs
  api/src/universal_inbox/user/service.rs
  api/tests/api/helpers/user.rs
  api/tests/api/test_users.rs
Due: fmt, clippy, test

fix(security): bind passkey ceremonies with nonce, prefix, and origin check
  api/src/routes/user.rs
  api/src/utils/mod.rs
  api/src/utils/origin.rs
  api/tests/api/helpers/user.rs
  api/tests/api/test_auth_methods.rs
  api/tests/api/test_users.rs
  web/src/services/user_service.rs
Due: fmt, clippy, test

fix(security): patch_user re-applies email blacklist and triggers reverification
  api/tests/api/test_users.rs
Due: fmt, clippy, test

fix: Mark integration connection Failing when OAuth refresh token is missing (universal-inbox-gzm)
  api/src/repository/integration_connection.rs
  api/src/universal_inbox/integration_connection/service.rs
  api/tests/api/test_integration_connections.rs
Due: fmt, clippy, test

fix: Fix Docker publish recipe
  docker/.justfile
Due: none

fix: Use a newer Debian Docker image to fix libc error
  Dockerfile
Due: hadolint

fix(web): release notifications_page write guard before await in patch_invitation
  web/src/services/notification_service.rs
Due: fmt, clippy, test

fix: Center loading spinner inside toast notification icon
  web/css/universal-inbox.css
Due: none

fix(web): avoid transient empty-iframe height in email preview
  web/js/index.js
Due: none

fix: Preserve integration connection context on config update
  api/src/universal_inbox/integration_connection/service.rs
  api/tests/api/test_integration_connections.rs
Due: fmt, clippy, test

fix(web): center preview-pane content with reading-width cap
  web/css/universal-inbox.css
  web/src/components/integrations/github/preview/discussion.rs
  web/src/components/integrations/github/preview/pull_request.rs
  web/src/components/integrations/google_calendar/preview.rs
  web/src/components/notification_preview.rs
  web/src/components/task_preview.rs
  web/src/layouts/nav_bar.rs
  web/src/pages/notifications_page.rs
  web/src/pages/synced_tasks_page.rs
Due: fmt, clippy, test

chore: Update inbox screenshot in documentation
  api/.justfile
  doc/src/quick_start/images/inbox-screen.png
Due: none

fix(web): unify notification preview body text size at 14px
  web/css/universal-inbox.css
  web/js/index.js
  web/src/components/integrations/github/preview/discussion.rs
  web/src/components/integrations/github/preview/pull_request.rs
  web/src/components/integrations/google_calendar/preview.rs
  web/src/components/integrations/google_drive/preview.rs
  web/src/components/integrations/google_mail/preview.rs
  web/src/components/integrations/slack/preview/thread.rs
  web/src/components/integrations/ticktick/preview.rs
  web/src/components/integrations/todoist/preview.rs
  web/src/components/ui/card.rs
  web/src/components/ui/thread_message.rs
Due: fmt, clippy, test

feat(api): Add CIMD support and accept allow-listed origins for unauthenticated DCR
  api/Cargo.toml
  api/config/default.toml
  api/migrations/20260525145728_create_oauth2_client_metadata_cache.down.sql
  api/migrations/20260525145728_create_oauth2_client_metadata_cache.up.sql
  api/src/configuration.rs
  api/src/lib.rs
  api/src/repository/oauth2.rs
  api/src/routes/oauth2.rs
  api/src/routes/well_known.rs
  api/src/universal_inbox/oauth2/cimd.rs
  api/src/universal_inbox/oauth2/mod.rs
  api/src/universal_inbox/oauth2/service.rs
  api/tests/api/main.rs
  api/tests/api/test_mcp.rs
  api/tests/api/test_oauth2_cimd.rs
Due: fmt, clippy, test

docs: Document MCP setup for Claude Desktop, Codex, ChatGPT, and Le Chat
  doc/src/misc/ai_agents.md
  doc/src/misc/images/ai_agents_chatgpt.png
  doc/src/misc/images/ai_agents_claude_desktop.png
  doc/src/misc/images/ai_agents_codex.png
  doc/src/misc/images/ai_agents_mistral.png
Due: none

chore: Update the changelog with the latest improvements
  CHANGELOG.md
Due: none

feat(mcp): use schemars for input and output MCP schema
  Cargo.lock
  Cargo.toml
  api/Cargo.toml
  api/src/mcp/mod.rs
  api/src/mcp/tools.rs
  src/integration_connection/mod.rs
  src/integration_connection/provider.rs
  src/lib.rs
  src/notification/mod.rs
  src/task/mod.rs
  src/task/service.rs
  src/third_party/item.rs
  src/typed_id.rs
  src/user.rs
Due: fmt, clippy, test

fix(oauth2): port-agnostic loopback redirect_uri matching (RFC 8252 §7.3)
  api/src/mcp/mod.rs
  api/src/mcp/tools.rs
  api/src/routes/oauth2.rs
  api/src/universal_inbox/oauth2/service.rs
  src/lib.rs
  src/notification/mod.rs
Due: fmt, clippy, test
