Repository universal-inbox/universal-inbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, hadolint, clippy, test

fmt:
  name: Format Rust code
  description: Format files with cargo fmt
  entry: just format
  language: system
  pass_filenames: false
  args: []
  stages:
  - pre-commit
  priority: 0

hadolint:
  name: Lint Dockerfile
  language: system
  entry: just lint-dockerfile
  pass_filenames: false
  stages:
  - pre-commit
  priority: 10

clippy:
  name: Check Rust code
  language: system
  pass_filenames: false
  entry: just check
  stages:
  - pre-commit
  priority: 10

test:
  name: Test Rust code
  language: system
  pass_filenames: false
  entry: just test
  stages:
  - pre-commit
  priority: 20

feat(web): show both the source title and the renamed one
  api/src/integrations/linear/mod.rs
  api/src/integrations/slack.rs
  devbox.lock
  src/third_party/integrations/linear.rs
  src/third_party/integrations/slack.rs
  web/css/universal-inbox.css
  web/src/components/integrations/linear/preview/issue.rs
  web/src/components/integrations/linear/task_list_item.rs
  web/src/components/integrations/slack/preview/file.rs
  web/src/components/integrations/slack/preview/message.rs
  web/src/components/integrations/slack/preview/slack_reaction.rs
  web/src/components/integrations/slack/task_list_item.rs
  web/src/components/preview_card_header.rs
  web/src/components/task_preview.rs
Due: fmt, clippy, test

fix(test): give the refresh-oauth cron test a unique tick per run
  api/tests/api/test_cron.rs
Due: fmt, clippy, test

fix(test): make throttled login emails unique per run
  api/tests/api/test_users.rs
Due: fmt, clippy, test

perf(test): bound test databases with a slot pool and a migrated template
  .github/workflows/ci-pr.yml
  .justfile
  Cargo.lock
  api/.justfile
  api/Cargo.toml
  api/config/test.toml
  api/tests/api/helpers/mod.rs
  api/tests/browser/helpers.rs
  api/tests/common/mod.rs
  api/tests/common/test_db.rs
Due: fmt, clippy, test

fix(slack): support attachment_mention rich text elements
  Cargo.lock
  Cargo.toml
  api/tests/api/test_slack_tasks.rs
  api/tests/api/test_slack_webhook_star_reaction.rs
  src/third_party/integrations/slack.rs
Due: fmt, clippy, test

fix(slack): skip senders Slack cannot resolve instead of failing the job
  api/src/integrations/slack.rs
  api/tests/api/fixtures/slack_fetch_bot_not_found_response.json
  api/tests/api/fixtures/slack_fetch_bot_ratelimited_response.json
  api/tests/api/fixtures/slack_fetch_thread_with_bot_response.json
  api/tests/api/helpers/notification/slack.rs
  api/tests/api/test_slack_webhook_message.rs
Due: fmt, clippy, test

feat(mcp): add MCP batch tool and trace tool name
  api/src/mcp/mod.rs
  api/src/mcp/tools.rs
  api/tests/api/test_mcp.rs
  doc/src/misc/ai_agents.md
Due: fmt, clippy, test

feat(mcp): support snooze_until in bulk notification updates
  api/src/repository/notification.rs
  api/tests/api/test_mcp.rs
  api/tests/api/test_notifications.rs
Due: fmt, clippy, test

feat(mcp): add list mode to bulk_act_notifications
  api/src/mcp/mod.rs
  api/src/mcp/tools.rs
  api/src/repository/notification.rs
  api/src/universal_inbox/notification/service.rs
  api/tests/api/test_mcp.rs
Due: fmt, clippy, test

feat(api): set notifications aside instead of deleting them
  api/.sqlx/query-f171e0e1bd739daf1ff857ee9f01ef17c791a63c49272beff71bdff430ff0560.json
  api/migrations/20260907120000_add_notification_set_aside_at.down.sql
  api/migrations/20260907120000_add_notification_set_aside_at.up.sql
  api/src/repository/notification.rs
  api/src/universal_inbox/integration_connection/service.rs
  api/tests/api/helpers/notification/mod.rs
  api/tests/api/helpers/notification/ticktick.rs
  api/tests/api/main.rs
  api/tests/api/test_integration_connections.rs
  api/tests/api/test_set_aside_notifications.rs
  src/integration_connection/mod.rs
  src/integration_connection/provider.rs
Due: fmt, clippy, test

fix(ci): upgrade playwright-rs to 0.18.0 for dead driver CDN
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr.yml
  Cargo.lock
  api/.justfile
  api/Cargo.toml
  api/src/commands/screenshots/browser.rs
  api/src/commands/screenshots/mod.rs
  api/src/commands/screenshots/screencast.rs
  api/tests/browser/helpers.rs
  api/tests/browser/test_notification_actions.rs
  api/tests/browser/test_user_login.rs
  api/tests/browser/test_user_registration.rs
Due: fmt, clippy, test

fix: stop nightly toolchain from being auto-installed
  .justfile
  devbox.json
Due: none

docs: Clarify MCP tool contracts and fix stale agent docs
  .claude/ARCHITECTURE_MAP.md
  .claude/COMMON_MISTAKES.md
  .claude/DOCUMENTATION_MAINTENANCE.md
  .claude/LEARNINGS_INDEX.md
  .claude/skills/fix-notification/SKILL.md
  CLAUDE.md
  api/src/mcp/mod.rs
  api/src/mcp/tools.rs
Due: fmt, clippy, test

fix(dev): randomize worker health-check port per worktree
  .config/wt.toml
Due: none

fix(web): load the Crisp chat only when the user opens it
  CHANGELOG.md
  api/tests/browser/main.rs
  api/tests/browser/test_crisp_chat.rs
  web/js/index.js
  web/src/components/sidebar.rs
  web/src/layouts/fullpage.rs
  web/src/services/crisp.rs
Due: fmt, clippy, test

fix(db): cascade slack_bridge_pending_action foreign keys
  CHANGELOG.md
  api/migrations/20260925120000_cascade_slack_bridge_pending_action_foreign_keys.down.sql
  api/migrations/20260925120000_cascade_slack_bridge_pending_action_foreign_keys.up.sql
  api/tests/api/test_slack_bridge.rs
Due: fmt, clippy, test

fix(billing): cancel the Stripe subscription when a user is deleted
  CHANGELOG.md
  api/src/billing/service.rs
  api/src/billing/stripe/client.rs
  api/src/commands/mod.rs
  api/src/commands/screenshots/mod.rs
  api/src/commands/screenshots/screencast.rs
  api/src/commands/user.rs
  api/src/universal_inbox/user/service.rs
  api/tests/api/test_billing.rs
  api/tests/common/mod.rs
Due: fmt, clippy, test

fix(dev): keep the Playwright driver out of worktree target dirs
  .envrc
Due: none

feat(user): self-service account deletion
  CHANGELOG.md
  api/src/routes/user.rs
  api/src/universal_inbox/user/service.rs
  api/tests/api/helpers/user.rs
  api/tests/api/test_users.rs
  api/tests/browser/main.rs
  api/tests/browser/test_account_deletion.rs
  src/user.rs
  web/src/components/delete_account_card.rs
  web/src/components/mod.rs
  web/src/pages/user_profile_page.rs
  web/src/services/user_service.rs
Due: fmt, clippy, test

fix(observability): keep personal data out of exported traces and logs
  CHANGELOG.md
  api/src/commands/user.rs
  api/src/observability.rs
  api/src/observability/redaction.rs
  api/src/repository/user.rs
  api/src/universal_inbox/user/service.rs
Due: fmt, clippy, test

fix(user): expire email-verification tokens and make them single-use
  CHANGELOG.md
  api/config/default.toml
  api/src/configuration.rs
  api/src/repository/user.rs
  api/src/universal_inbox/user/service.rs
  api/tests/api/test_users.rs
Due: fmt, clippy, test

fix(web): retry the app config load instead of panicking
  web/src/lib.rs
Due: fmt, clippy, test

feat(integrations): revoke provider OAuth grants on disconnect and account deletion
  CHANGELOG.md
  api/src/configuration.rs
  api/src/integrations/github/oauth.rs
  api/src/integrations/google_oauth.rs
  api/src/integrations/linear/oauth.rs
  api/src/integrations/oauth2/provider.rs
  api/src/integrations/slack_oauth.rs
  api/src/integrations/ticktick/oauth.rs
  api/src/integrations/todoist_oauth.rs
  api/src/lib.rs
  api/src/universal_inbox/integration_connection/service.rs
  api/src/universal_inbox/user/service.rs
  api/tests/api/test_integration_connections.rs
  api/tests/common/mod.rs
Due: fmt, clippy, test

build: update Rust toolchain to 1.98.1
  Dockerfile
  devbox.json
  web/src/components/datepicker.rs
Due: fmt, hadolint, clippy, test

build: update sha2 dev-dependency 0.10 -> 0.11
  Cargo.lock
  api/Cargo.toml
Due: none

build: update semver-compatible Rust dependencies
  Cargo.lock
  Cargo.toml
  api/src/routes/health_check.rs
  api/src/routes/oauth2.rs
  api/src/routes/user.rs
  api/src/routes/webhook.rs
  api/src/universal_inbox/integration_connection/service.rs
  api/src/universal_inbox/mod.rs
  api/src/universal_inbox/notification/service.rs
  api/src/utils/origin.rs
  api/src/utils/rate_limit.rs
  api/tests/api/helpers/notification/mod.rs
  api/tests/api/helpers/task/mod.rs
  api/tests/api/test_mcp.rs
  api/tests/api/test_sync_todoist_tasks.rs
Due: fmt, clippy, test

build: update tabled 0.20 -> 0.22
  Cargo.lock
  api/Cargo.toml
Due: none

build: update argon2 0.5 -> 0.6
  Cargo.lock
  api/Cargo.toml
  api/src/universal_inbox/user/service.rs
Due: fmt, clippy, test

build: update actix-web-lab 0.26 -> 0.28
  Cargo.lock
  api/Cargo.toml
Due: none

build: update jsonwebtoken 10 -> 11
  Cargo.lock
  api/Cargo.toml
Due: none

build: update comrak 0.52 -> 0.55
  Cargo.lock
  web/Cargo.toml
Due: none

build: update redis 0.32 -> 1.7
  Cargo.lock
  api/Cargo.toml
  api/src/jobs/cron.rs
  api/tests/api/test_cron.rs
Due: fmt, clippy, test

build: update reqwest 0.12 -> 0.13
  Cargo.lock
  Cargo.toml
  api/Cargo.toml
  api/src/observability.rs
Due: fmt, clippy, test

build: update rspack 1.7 -> 2.2
  web/package-lock.json
  web/package.json
Due: none

build: update web npm dependencies
  web/package-lock.json
  web/package.json
Due: none

build: update strum 0.27 -> 0.28
  Cargo.lock
  Cargo.toml
Due: none

build: update lzma-rust2 dev-dependency 0.16 -> 0.21
  Cargo.lock
  api/Cargo.toml
Due: none

build: update cached 0.56 -> 4.0
  Cargo.lock
  api/Cargo.toml
  api/src/integrations/slack.rs
  api/src/integrations/ticktick/mod.rs
  api/src/integrations/todoist.rs
  api/src/universal_inbox/integration_connection/service.rs
  api/src/utils/cache.rs
Due: fmt, clippy, test

Path conditions:
  fmt: any of: \.rs$
  hadolint: any of: Dockerfile$
  clippy: any of: \.rs$
  test: any of: \.rs$
