Repository universal-inbox/universal-inbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, clippy, hadolint

fmt:
  name: Format Rust code
  description: Format files with cargo fmt
  entry: just format
  language: system
  pass_filenames: false
  args: []
  stages:
  - pre-commit

clippy:
  name: Check Rust code
  language: system
  pass_filenames: false
  entry: just check-all
  stages:
  - pre-commit

hadolint:
  name: Lint Dockerfile
  language: system
  entry: just lint-dockerfile
  stages:
  - pre-commit

chore: setup worktrunk config
  .config/cargo.toml
  .config/wt.toml
  devbox.json
  devbox.lock
Due: none

fix: Create a sink task if none exists while updating
  api/src/universal_inbox/task/service.rs
  api/tests/api/test_sync_linear_tasks.rs
Due: fmt, clippy

chore: setup worktrunk config
  .config/cargo.toml
  .config/wt.toml
  .envrc
  .gitignore
  api/justfile
  devbox.d/caddy/Caddyfile
  devbox.d/redis/redis.conf
  devbox.d/web/index.html
  devbox.json
  devbox.lock
  justfile
  process-compose.yaml
  web/Trunk.toml
  web/justfile
Due: none

fix: Create a sink task if none exists while updating
  .pre-commit-config.yaml
  api/src/universal_inbox/task/service.rs
  api/tests/api/test_sync_linear_tasks.rs
Due: fmt, clippy

fix: Make optional Google drive comment `resolved` field
  api/src/integrations/google_drive.rs
  api/tests/api/test_misc.rs
  src/third_party/integrations/google_drive.rs
  web/src/components/integrations/google_drive/notification_list_item.rs
  web/src/components/integrations/google_drive/preview.rs
Due: fmt, clippy

fix: Use a fork of the nango frontend package
  Dockerfile
  web/package-lock.json
  web/package.json
  web/scripts/npm-post-install.sh
Due: hadolint

fix: Don't display warning alert for empty messages
  api/tests/api/test_misc.rs
  web/package-lock.json
  web/src/components/integrations_panel.rs
Due: fmt, clippy

fix: Use Slack connection with up to date scopes
  api/.sqlx/query-d13c29e298ce1df4625a3e9c95fc2895eea2b90e43f5e8c92491f2296ac384d9.json
  api/src/configuration.rs
  api/src/lib.rs
  api/src/repository/integration_connection.rs
  api/src/universal_inbox/integration_connection/service.rs
  api/tests/api/fixtures/nango_slack_connection.json
  api/tests/api/helpers/integration_connection.rs
  api/tests/api/test_integration_connections.rs
  api/tests/api/test_slack_webhook_message.rs
  api/tests/api/test_sync_github_notifications.rs
  api/tests/api/test_sync_todoist_tasks.rs
Due: fmt, clippy

enh: Clean up Just and Prek configuration
  .common-rust.justfile
  .envrc
  .justfile
  .justfile.local
  .pre-commit-config.yaml
  Cargo.lock
  Dockerfile
  api/.justfile
  api/.pre-commit-config.yaml
  doc/.justfile
  doc/.pre-commit-config.yaml
  docker/.justfile
  web/.justfile
  web/.pre-commit-config.yaml
  web/Cargo.toml
Due: hadolint

Add target=_blank to links in message previews
  .sisyphus/plans/open-links-new-tab.md
  web/src/components/integrations/google_calendar/preview.rs
  web/src/components/integrations/google_drive/preview.rs
  web/src/components/integrations/google_mail/preview.rs
  web/src/components/markdown.rs
Due: fmt, clippy

feat: Improve Worktrunk setup with Zellij
  .config/wt-zellij-layout.kdl
  .config/wt.toml
  .envrc
  devbox.json
  devbox.lock
Due: none

Skip side effects and syncs for test accounts
  api/src/universal_inbox/notification/service.rs
  api/src/universal_inbox/task/service.rs
  api/src/universal_inbox/third_party/service.rs
  api/src/universal_inbox/user/service.rs
Due: fmt, clippy

Add email domain blacklist for registration and authentication
  api/config/default.toml
  api/src/configuration.rs
  api/src/routes/user.rs
  api/src/universal_inbox/user/service.rs
  api/tests/api/helpers/mod.rs
  api/tests/api/test_users.rs
Due: fmt, clippy

Consolidate dev commands and add agent documentation
  .config/wt-zellij-layout.kdl
  .justfile
  AGENTS.md
  README.md
  api/.justfile
  process-compose.yaml
  web/.justfile
Due: none

fix: Create Zellij session when it does not exists
  .config/wt.toml
  .gitignore
Due: none

feat: Auto-delete notifications when user is author of the latest message
  .config/wt.toml
  api/src/commands/generate.rs
  api/src/integrations/google_drive.rs
  api/src/integrations/google_mail.rs
  api/src/integrations/slack.rs
  api/tests/api/helpers/notification/google_drive.rs
  api/tests/api/helpers/notification/slack.rs
  api/tests/api/test_sync_google_drive_comments.rs
  api/tests/api/test_sync_google_mail_threads.rs
  src/third_party/integrations/google_drive.rs
  src/third_party/integrations/google_mail.rs
  src/third_party/integrations/slack.rs
  src/third_party/item.rs
Due: fmt, clippy

chore: Update API dependencies
  Cargo.lock
  Cargo.toml
  api/Cargo.toml
  api/src/integrations/github/mod.rs
  api/src/integrations/oauth2.rs
  api/src/integrations/todoist.rs
  api/src/utils/api.rs
  api/tests/api/test_slack_webhook.rs
  web/Cargo.toml
Due: fmt, clippy

enh: Clean up Just and Prek configuration
  .common-rust.justfile
  .envrc
  .gitignore
  .justfile
  .pre-commit-config.yaml
  Cargo.lock
  Dockerfile
  api/.justfile
  api/.pre-commit-config.yaml
  doc/.justfile
  doc/.pre-commit-config.yaml
  docker/.justfile
  web/.justfile
  web/.pre-commit-config.yaml
  web/Cargo.toml
Due: hadolint

fix: Fix CI for browser tests
  .config/nextest.toml
  .github/workflows/ci-pr.yml
  api/.config/nextest.toml
  api/.justfile
  api/tests/browser/helpers.rs
  web/Trunk.toml
Due: fmt, clippy

fix: tests
  .github/workflows/ci-pr.yml
  api/.justfile
  web/.justfile
  web/Trunk.toml
Due: none

feat: Add target=_blank to links in message previews
  .sisyphus/plans/open-links-new-tab.md
  CHANGELOG.md
  web/src/components/integrations/google_calendar/preview.rs
  web/src/components/integrations/google_drive/preview.rs
  web/src/components/integrations/google_mail/preview.rs
  web/src/components/markdown.rs
Due: fmt, clippy

fix: Skip side effects and syncs for test accounts
  api/src/universal_inbox/notification/service.rs
  api/src/universal_inbox/task/service.rs
  api/src/universal_inbox/third_party/service.rs
  api/src/universal_inbox/user/service.rs
Due: fmt, clippy

feat: Add email domain blacklist for registration and authentication
  CHANGELOG.md
  api/config/default.toml
  api/src/configuration.rs
  api/src/routes/user.rs
  api/src/universal_inbox/user/service.rs
  api/tests/api/helpers/mod.rs
  api/tests/api/test_users.rs
Due: fmt, clippy

chore: Consolidate dev commands and add agent documentation
  .config/wt-zellij-layout.kdl
  .justfile
  AGENTS.md
  README.md
  api/.justfile
  process-compose.yaml
  web/.justfile
Due: none

fix: Create Zellij session when it does not exists
  .config/wt.toml
Due: none

feat: Auto-delete notifications when user is author of the latest message
  .config/wt.toml
  CHANGELOG.md
  api/src/commands/generate.rs
  api/src/integrations/google_drive.rs
  api/src/integrations/google_mail.rs
  api/src/integrations/slack.rs
  api/tests/api/helpers/notification/google_drive.rs
  api/tests/api/helpers/notification/slack.rs
  api/tests/api/test_sync_google_drive_comments.rs
  api/tests/api/test_sync_google_mail_threads.rs
  src/third_party/integrations/google_drive.rs
  src/third_party/integrations/google_mail.rs
  src/third_party/integrations/slack.rs
  src/third_party/item.rs
Due: fmt, clippy

chore: Replace httpmock by wiremock
  Cargo.lock
  api/Cargo.toml
  api/src/integrations/todoist.rs
  api/tests/api/helpers/auth.rs
  api/tests/api/helpers/integration_connection.rs
  api/tests/api/helpers/mod.rs
  api/tests/api/helpers/notification/github.rs
  api/tests/api/helpers/notification/google_calendar.rs
  api/tests/api/helpers/notification/google_drive.rs
  api/tests/api/helpers/notification/google_mail.rs
  api/tests/api/helpers/notification/linear.rs
  api/tests/api/helpers/notification/slack.rs
  api/tests/api/helpers/task/todoist.rs
  api/tests/api/test_auth.rs
  api/tests/api/test_github_notifications.rs
  api/tests/api/test_google_calendar_notifications.rs
  api/tests/api/test_google_mail_notifications.rs
  api/tests/api/test_integration_connections.rs
  api/tests/api/test_linear_notifications.rs
  api/tests/api/test_linear_tasks.rs
  api/tests/api/test_misc.rs
  api/tests/api/test_notifications.rs
  api/tests/api/test_slack_notifications.rs
  api/tests/api/test_slack_tasks.rs
  api/tests/api/test_slack_webhook_message.rs
  api/tests/api/test_slack_webhook_star_reaction.rs
  api/tests/api/test_sync_github_notifications.rs
  api/tests/api/test_sync_google_drive_comments.rs
  api/tests/api/test_sync_google_mail_threads.rs
  api/tests/api/test_sync_linear_notifications.rs
  api/tests/api/test_sync_linear_tasks.rs
  api/tests/api/test_sync_todoist_tasks.rs
  api/tests/api/test_tasks.rs
  api/tests/api/test_todoist_notifications.rs
  api/tests/api/test_todoist_tasks.rs
  api/tests/api/test_users.rs
Due: fmt, clippy

feat: Add `anonymize-db` command
  api/.justfile
  api/src/commands/anonymize.rs
  api/src/commands/mod.rs
Due: fmt, clippy

feat: allow user to update profile (email, first_name, last_name) from profile page
  CHANGELOG.md
  api/src/repository/user.rs
  api/src/routes/user.rs
  api/src/universal_inbox/user/service.rs
  api/tests/api/helpers/user.rs
  api/tests/api/test_users.rs
  src/user.rs
  web/src/components/user_profile_card.rs
  web/src/form.rs
  web/src/services/user_service.rs
Due: fmt, clippy

feat: Add browser tests with Playwright for registration, login, and notification actions
  .config/nextest.toml
  .github/workflows/ci-pr.yml
  .github/workflows/doc.yml
  .justfile
  Cargo.lock
  api/.justfile
  api/.pre-commit-config.yaml
  api/Cargo.toml
  api/src/commands/generate.rs
  api/src/commands/mod.rs
  api/tests/api/helpers/mailer.rs
  api/tests/api/helpers/mod.rs
  api/tests/api/main.rs
  api/tests/browser/helpers.rs
  api/tests/browser/main.rs
  api/tests/browser/test_notification_actions.rs
  api/tests/browser/test_user_login.rs
  api/tests/browser/test_user_registration.rs
  api/tests/common/mailer.rs
  api/tests/common/mod.rs
  web/.justfile
  web/Trunk.toml
Due: fmt, clippy

chore: Migrate to Todoist API v1
  api/.justfile
  api/config/test.toml
  api/src/integrations/todoist.rs
  api/tests/api/fixtures/sync_todoist_items_response.json
  api/tests/api/fixtures/sync_todoist_projects_response.json
  api/tests/api/fixtures/todoist_item.json
  api/tests/api/helpers/task/todoist.rs
  api/tests/browser/helpers.rs
  api/tests/browser/test_notification_actions.rs
  api/tests/browser/test_user_login.rs
  src/task/integrations/todoist.rs
  src/third_party/integrations/todoist.rs
Due: fmt, clippy

fix: Enable `rustls` on reqwest 0.13
  Cargo.lock
  api/Cargo.toml
Due: none

feat: Implement exponential backoff on failing integration sync
  CHANGELOG.md
  api/.sqlx/query-0315c027dc55a064b5b610abf3c826eea8486ae8da586cd6350ce88138372fcd.json
  api/.sqlx/query-1a1d353aced3761251dcfc2d4e6395b6f9ade4d8d5fa5cb4e8f829560258ce0e.json
  api/.sqlx/query-37eae481b014abe3f0ffdb5a09d26b12279e2d97d4e77a5038903b6faf65be2e.json
  api/.sqlx/query-65c8902b3be9a04da8d7eb522a73b62ba7df132ffac979216eede2c3b148afa8.json
  api/.sqlx/query-c1b70d76cce84d894be40ee5868d1d68e043ca810aa4116cab49404049c00b64.json
  api/.sqlx/query-efcf664ee6756dc3dfd727bf11173725355d9ae8d3d169e3da25e7e8a4cbbb99.json
  api/config/default.toml
  api/config/dev.toml
  api/migrations/20260211205529_add_first_sync_failure_at_timestamps.down.sql
  api/migrations/20260211205529_add_first_sync_failure_at_timestamps.up.sql
  api/src/configuration.rs
  api/src/lib.rs
  api/src/repository/integration_connection.rs
  api/src/universal_inbox/integration_connection/service.rs
  api/tests/api/helpers/integration_connection.rs
  api/tests/api/test_integration_connections.rs
  api/tests/api/test_slack_webhook_message.rs
  api/tests/api/test_sync_github_notifications.rs
  api/tests/api/test_sync_todoist_tasks.rs
  src/integration_connection/mod.rs
  web/src/components/footer.rs
  web/src/components/integrations_panel.rs
Due: fmt, clippy

Path conditions:
  fmt: any of: \.rs$
  clippy: any of: \.rs$
  hadolint: any of: Dockerfile$
