Repository universal-inbox/universal-inbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, hadolint, clippy, test

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: fmt
        name: Format Rust code
        description: Format files with cargo fmt
        entry: just format
        language: system
        files: \.rs$
        pass_filenames: false
        args: []
        stages: [pre-commit]
        priority: 0

  - repo: local
    hooks:
      - id: todo
        name: Check TODO in the code
        language: system
        pass_filenames: false
        entry: bash -c 'rg TODO && false || true'
        stages: [pre-commit]
        priority: 10

  - repo: local
    hooks:
      - id: hadolint
        name: Lint Dockerfile
        language: system
        entry: just lint-dockerfile
        pass_filenames: false
        files: Dockerfile$
        stages: [pre-commit]
        priority: 10
        
  - repo: local
    hooks:
      - id: clippy
        name: Check Rust code
        language: system
        pass_filenames: false
        entry: just check
        files: \.rs$
        stages: [pre-commit]
        priority: 10

  - repo: local
    hooks:
      - id: cargo-machete
        name: Detect unused Rust dependencies
        language: system
        pass_filenames: false
        entry: just check-unused-dependencies
        stages: [pre-commit]
        priority: 10

  - repo: local
    hooks:
      - id: test
        name: Test Rust code
        language: system
        pass_filenames: false
        entry: just test
        files: \.rs$
        stages: [pre-commit]
        priority: 20

test(slack): count pushed jobs instead of reading the active queue
  api/tests/api/test_slack_webhook_message.rs
Due: fmt, clippy, test

fix(screenshots): anchor the landing screencast selectors on stable IDs
  api/src/commands/screenshots/manifest.rs
  api/src/commands/screenshots/screencast.rs
Due: fmt, clippy, test

fix(webhook): stop Slack message events from exhausting the DB pool
  api/src/repository/mod.rs
  api/src/repository/third_party.rs
  api/src/routes/mod.rs
  api/src/routes/webhook.rs
  api/src/universal_inbox/mod.rs
  api/src/universal_inbox/third_party/service.rs
Due: fmt, clippy, test

fix(api): return 404 for paths actix-files rejects
  api/src/lib.rs
  api/tests/api/test_misc.rs
Due: fmt, clippy, test

build: exclude stripe-cli from aarch64-linux devbox platform
  devbox.json
Due: none

fix(api): Stop recording 401 responses as span exceptions
  api/src/observability.rs
Due: fmt, clippy, test

fix(dev): Add default API and Dioxus listening port env vars
  .envrc
Due: none

fix(api): enable TLS on the redis version used by apalis-redis
  Cargo.lock
  api/Cargo.toml
Due: none

feat(observability): make startup failures discoverable in log collectors
  api/config/default.toml
  api/config/prod.toml
  api/src/configuration.rs
  api/src/main.rs
  api/src/observability.rs
  api/tests/common/mod.rs
  docker/universal-inbox-entrypoint
Due: fmt, clippy, test

fix(web): stop wasm-opt from emitting compact imports
  web/index-empty.html
  web/index-trunk.html
Due: none

fix(oauth): treat Linear "Refresh token revoked" as terminal refresh error
  api/src/integrations/oauth2/provider.rs
Due: fmt, clippy, test

fix(api): remap legacy Todoist IDs rejected by API v1
  api/src/commands/mod.rs
  api/src/commands/todoist.rs
  api/src/integrations/todoist.rs
  api/src/lib.rs
  api/src/repository/third_party.rs
  api/tests/api/helpers/task/todoist.rs
  api/tests/api/test_todoist_tasks.rs
Due: fmt, clippy, test

fix(api): skip failing users in todoist migrate-legacy-ids command
  api/src/commands/todoist.rs
  api/tests/api/test_todoist_tasks.rs
Due: fmt, clippy, test

docs(agents): document pre-commit service and worktree teardown requirements
  .claude/COMMON_MISTAKES.md
  .claude/QUICK_START.md
  CLAUDE.md
Due: none

fix(slack): ignore no_reaction error when removing a Slack reaction
  CHANGELOG.md
  api/src/integrations/slack.rs
  api/tests/api/helpers/notification/slack.rs
  api/tests/api/test_slack_tasks.rs
Due: fmt, clippy, test

feat(slack): handle tokens_revoked and app_uninstalled webhook events
  CHANGELOG.md
  api/.sqlx/query-670675a2a4c6c781cc05ab9afdc1e505040916268628388e0e4a06f4b16d771e.json
  api/src/repository/integration_connection.rs
  api/src/routes/webhook.rs
  api/src/universal_inbox/integration_connection/service.rs
  api/tests/api/main.rs
  api/tests/api/test_slack_webhook_revocation.rs
Due: fmt, clippy, test

feat(api): retry failed OAuth grant revocations from a durable queue
  CHANGELOG.md
  api/.sqlx/query-0d5f3f013bb9ef0652f5f7b08677e990744170545a75e7ea4b8ff67784953476.json
  api/.sqlx/query-4a4fd97f3cda281a1fb99267efeec90f5dea4bcc74c1d645acb4a1e51f58e86e.json
  api/.sqlx/query-8aaa1a79e6b972f92bd7980fabb0ba63d05e3fcfa52a7289405b145a86e8bc3d.json
  api/.sqlx/query-c3da25562b793470fe673954e685e6622842fc31ad2e72a8f5a9e7aef2640372.json
  api/.sqlx/query-d4066bd2670dc42e2e080756c5c7d859c696cf03b87461203ef8c477c52a6d1e.json
  api/.sqlx/query-f26912120d84e0efc547c41dd578ca7204e9d2e914ca5da4741ad5c7dd8fdd06.json
  api/config/default.toml
  api/migrations/20261002090000_create_oauth_grant_revocation.down.sql
  api/migrations/20261002090000_create_oauth_grant_revocation.up.sql
  api/src/configuration.rs
  api/src/integrations/oauth2/provider.rs
  api/src/integrations/slack_oauth.rs
  api/src/jobs/cron.rs
  api/src/jobs/mod.rs
  api/src/jobs/oauth.rs
  api/src/lib.rs
  api/src/repository/mod.rs
  api/src/repository/oauth_credential.rs
  api/src/repository/oauth_grant_revocation.rs
  api/src/universal_inbox/integration_connection/service.rs
  api/tests/api/test_integration_connections.rs
  api/tests/common/mod.rs
Due: fmt, clippy, test

feat(web): collapse read Slack thread messages and scroll to the latest
  CHANGELOG.md
  web/src/components/integrations/slack/preview/thread.rs
  web/src/utils.rs
Due: fmt, clippy, test

test(browser): prune to critical flows and run them in parallel
  .config/nextest.toml
  api/tests/browser/helpers.rs
  api/tests/browser/main.rs
  api/tests/browser/test_account_deletion.rs
  api/tests/browser/test_crisp_chat.rs
  api/tests/browser/test_notification_actions.rs
  api/tests/browser/test_user_login.rs
  api/tests/browser/test_user_registration.rs
Due: fmt, clippy, test

fix(dev): give each worktree its own mbx target dir
  .claude/COMMON_MISTAKES.md
  .config/wt.toml
  api/.justfile
Due: none

fix(tracing): keep credentials and OIDC ID tokens out of traces
  CHANGELOG.md
  api/src/integrations/github/mod.rs
  api/src/integrations/google_calendar.rs
  api/src/integrations/google_drive.rs
  api/src/integrations/google_mail.rs
  api/src/integrations/linear/mod.rs
  api/src/integrations/oauth2/mod.rs
  api/src/integrations/slack.rs
  api/src/integrations/ticktick/mod.rs
  api/src/integrations/todoist.rs
  api/src/jobs/slack/slack_message.rs
  api/src/observability/redaction.rs
  api/src/repository/user.rs
  api/src/routes/auth.rs
  api/src/universal_inbox/user/service.rs
  api/tests/api/test_auth.rs
  src/auth/mod.rs
Due: fmt, clippy, test

feat(user): allow users to change their password (UI-30)
  CHANGELOG.md
  api/src/lib.rs
  api/src/mailer/mod.rs
  api/src/middlewares/jwt_auth.rs
  api/src/routes/user.rs
  api/src/universal_inbox/user/service.rs
  api/src/utils/mod.rs
  api/src/utils/session_revocation.rs
  api/tests/api/main.rs
  api/tests/api/test_change_password.rs
  src/user.rs
  web/src/components/auth_methods_card.rs
  web/src/form.rs
  web/src/pages/password_update_page.rs
  web/src/pages/signup_page.rs
  web/src/services/user_service.rs
Due: fmt, clippy, test

feat(google-calendar): display attendee replies and fix invitation answer toasts
  CHANGELOG.md
  Cargo.lock
  api/Cargo.toml
  api/src/integrations/google_mail.rs
  api/src/integrations/icalendar.rs
  api/src/integrations/mod.rs
  api/src/universal_inbox/notification/service.rs
  api/tests/api/fixtures/google_calendar_event_reply.json
  api/tests/api/test_google_calendar_notifications.rs
  src/third_party/integrations/google_calendar.rs
  web/src/components/integrations/google_calendar/preview.rs
  web/src/services/notification_service.rs
Due: fmt, clippy, test

feat(tracing): configure per-layer OTLP filters and flush on shutdown
  CHANGELOG.md
  Cargo.lock
  api/Cargo.toml
  api/config/default.toml
  api/src/configuration.rs
  api/src/lib.rs
  api/src/main.rs
  api/src/observability.rs
Due: fmt, clippy, test

fix(tracing): recover lost span fields and name outbound reqwest spans
  api/src/integrations/google_calendar.rs
  api/src/integrations/google_drive.rs
  api/src/integrations/google_mail.rs
  api/src/integrations/oauth2/provider.rs
  api/src/integrations/slack.rs
  api/src/integrations/ticktick/mod.rs
  api/src/integrations/todoist.rs
  api/src/repository/auth_token.rs
  api/src/repository/integration_connection.rs
  api/src/repository/notification.rs
  api/src/repository/oauth2.rs
  api/src/repository/task.rs
  api/src/repository/third_party.rs
  api/src/repository/user.rs
  api/src/universal_inbox/auth_token/service.rs
  api/src/universal_inbox/integration_connection/service.rs
  api/src/universal_inbox/notification/service.rs
  api/src/universal_inbox/oauth2/service.rs
  api/src/universal_inbox/task/service.rs
  api/src/universal_inbox/third_party/service.rs
Due: fmt, clippy, test

build(prek): unpin prek and run browser tests from the root project
  .claude/COMMON_MISTAKES.md
  .claude/QUICK_START.md
  .pre-commit-config.yaml
  api/.pre-commit-config.yaml
  devbox.json
  devbox.lock
  doc/book.toml
Due: none

feat(api): backfill missing Slack team_id context of integration connections
  CHANGELOG.md
  api/src/commands/mod.rs
  api/src/commands/slack.rs
  api/src/integrations/slack.rs
  api/src/repository/integration_connection.rs
  api/src/universal_inbox/integration_connection/service.rs
  api/tests/api/helpers/notification/slack.rs
  api/tests/api/main.rs
  api/tests/api/test_slack_backfill_team_id.rs
  api/tests/api/test_sync_slack_threads.rs
Due: fmt, clippy, test

feat(api): serve the web bundle precompressed with long-lived caching
  CHANGELOG.md
  Cargo.lock
  Dockerfile
  api/Cargo.toml
  api/src/lib.rs
  api/src/routes/mod.rs
  api/src/routes/static_files.rs
  api/tests/api/statics/app-0123456789abcdef_bg.wasm
  api/tests/api/statics/app-0123456789abcdef_bg.wasm.br
  api/tests/api/statics/app-0123456789abcdef_bg.wasm.gz
  api/tests/api/statics/style.css
  api/tests/api/test_misc.rs
  devbox.json
  devbox.lock
  web/.justfile
Due: fmt, hadolint, clippy, test

fix(test): set RUST_MIN_STACK through cargo config
  .cargo/config.toml
  .claude/COMMON_MISTAKES.md
  .claude/QUICK_START.md
Due: none

feat(github): show all discussion comments and hide already-read ones (UI-302)
  CHANGELOG.md
  api/fixtures/seed/github_discussion_123_response.json
  api/fixtures/seed/github_discussion_42_comments_response.json
  api/src/commands/generate.rs
  api/src/integrations/github/graphql/discussion.rs
  api/src/integrations/github/graphql/discussion_comment_replies_query.graphql
  api/src/integrations/github/graphql/discussion_comments_query.graphql
  api/src/integrations/github/graphql/mod.rs
  api/src/integrations/github/mod.rs
  api/tests/api/fixtures/github_discussion_123_comments_page_1_response.json
  api/tests/api/fixtures/github_discussion_123_comments_page_2_response.json
  api/tests/api/fixtures/github_discussion_comment_1_replies_page_2_response.json
  api/tests/api/helpers/notification/github.rs
  api/tests/api/test_sync_github_notifications.rs
  src/third_party/integrations/github.rs
  web/src/components/integrations/github/preview/discussion.rs
  web/src/components/integrations/slack/preview/thread.rs
  web/src/components/notification_preview.rs
  web/src/components/thread.rs
Due: fmt, clippy, test

feat(tracing): link apalis job traces to the span that enqueued them
  api/Cargo.toml
  api/src/jobs/cron.rs
  api/src/jobs/envelope.rs
  api/src/jobs/mod.rs
  api/src/lib.rs
  api/src/mcp/mod.rs
  api/src/mcp/tools.rs
  api/src/observability/attributes.rs
  api/src/routes/notification.rs
  api/src/routes/task.rs
  api/src/routes/webhook.rs
  api/src/universal_inbox/integration_connection/service.rs
  api/src/universal_inbox/notification/service.rs
  api/tests/api/helpers/mod.rs
  api/tests/api/test_cron.rs
  api/tests/browser/helpers.rs
  api/tests/common/mod.rs
Due: fmt, clippy, test

feat(api): pause inactive and long-failing connections of all providers
  CHANGELOG.md
  api/.sqlx/query-182024c7317ce536c44e012b837bc287f4b8ea1700fce9d48d60184756ea2ca3.json
  api/.sqlx/query-3a139be48980a59db5e9a9e06f7c9104b54df9da67d5d002138c765131b69ebc.json
  api/.sqlx/query-5eea46613feaed3321a2be72f2f41f9fd36d0d05b72b4f1692f37d85cb360d3d.json
  api/.sqlx/query-adc84025e1359dbc97ff973b93ffb28e7a7381312905c0e824e44f1b9b42307e.json
  api/.sqlx/query-c603acb28f9921b6d11a46e77c1871cc2b8763e4d739c84d3e43b966faad930d.json
  api/.sqlx/query-ce698fb0813d09115121b9bedf453a7759190b56e4b8e557c8fc8f45854d71da.json
  api/config/default.toml
  api/src/configuration.rs
  api/src/jobs/cron.rs
  api/src/jobs/mod.rs
  api/src/jobs/oauth.rs
  api/src/lib.rs
  api/src/mailer/mod.rs
  api/src/repository/integration_connection.rs
  api/src/universal_inbox/integration_connection/service.rs
  api/tests/api/main.rs
  api/tests/api/test_cron.rs
  api/tests/api/test_pause_integration_connections.rs
  api/tests/api/test_set_aside_notifications.rs
  src/integration_connection/mod.rs
Due: fmt, clippy, test

fix(github): bound discussion comment pagination (UI-302)
  api/src/integrations/github/mod.rs
  api/tests/api/test_sync_github_notifications.rs
Due: fmt, clippy, test

chore(claude): load worktree direnv env in Claude Code Bash calls
  .claude/QUICK_START.md
  .claude/hooks/direnv-env.sh
  .claude/hooks/direnv-session-start.sh
  .claude/settings.json
  .gitignore
Due: none

fix(google-calendar): convert every calendar email into its invitation
  CHANGELOG.md
  api/src/integrations/google_calendar.rs
  api/src/integrations/google_mail.rs
  api/src/integrations/icalendar.rs
  api/src/universal_inbox/notification/service.rs
  api/tests/api/fixtures/google_mail_invitation_cancel_attachment.json
  api/tests/api/fixtures/google_mail_invitation_occurrence_update_attachment.json
  api/tests/api/helpers/notification/google_calendar.rs
  api/tests/api/test_sync_google_mail_threads.rs
  src/third_party/integrations/google_calendar.rs
Due: fmt, clippy, test

feat(api): email users before and after pausing their Slack connection
  CHANGELOG.md
  api/.sqlx/query-0d67a3061687fbfd230bb4be111f5d77c59a935994a0ad32a0e6eafc1004f073.json
  api/.sqlx/query-54e5a555c4d489fdef8863359e32611b3f0181de51b9dda5306c94032f0d3dda.json
  api/.sqlx/query-8257edf5e6b22ec1c8c9c3205b3fe5df6edcea309a8e50b32464154e3469f27d.json
  api/.sqlx/query-a92c5c2f600f148580ec7bc31f802efd1b2e0f44f4f6bfe65c0acd47c8807187.json
  api/.sqlx/query-c603acb28f9921b6d11a46e77c1871cc2b8763e4d739c84d3e43b966faad930d.json
  api/.sqlx/query-ce698fb0813d09115121b9bedf453a7759190b56e4b8e557c8fc8f45854d71da.json
  api/config/default.toml
  api/migrations/20261003090000_add_inactivity_warning_sent_at.down.sql
  api/migrations/20261003090000_add_inactivity_warning_sent_at.up.sql
  api/src/configuration.rs
  api/src/jobs/cron.rs
  api/src/jobs/mod.rs
  api/src/jobs/oauth.rs
  api/src/lib.rs
  api/src/mailer/mod.rs
  api/src/repository/integration_connection.rs
  api/src/universal_inbox/integration_connection/service.rs
  api/tests/api/test_cron.rs
  api/tests/api/test_pause_slack_connections.rs
  api/tests/api/test_set_aside_notifications.rs
Due: fmt, clippy, test

refactor(tracing): record instrumented arguments through attr:: constants
  api/src/commands/screenshots/mod.rs
  api/src/commands/screenshots/screencast.rs
  api/src/commands/slack.rs
  api/src/commands/sync.rs
  api/src/commands/todoist.rs
  api/src/commands/user.rs
  api/src/jobs/mod.rs
  api/src/jobs/oauth.rs
  api/src/mcp/mod.rs
  api/src/observability/attributes.rs
  api/src/repository/oauth_grant_revocation.rs
  api/src/repository/task.rs
  api/src/universal_inbox/integration_connection/service.rs
  api/src/universal_inbox/user/service.rs
  api/src/utils/session_revocation.rs
Due: fmt, clippy, test
