Repository universal-inbox/universal-inbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, hadolint, clippy, test

fmt:
  name: Format Rust code
  description: Format files with cargo fmt
  entry: just format
  language: system
  pass_filenames: false
  args: []
  stages:
  - pre-commit
  priority: 0

hadolint:
  name: Lint Dockerfile
  language: system
  entry: just lint-dockerfile
  pass_filenames: false
  stages:
  - pre-commit
  priority: 10

clippy:
  name: Check Rust code
  language: system
  pass_filenames: false
  entry: just check
  stages:
  - pre-commit
  priority: 10

test:
  name: Test Rust code
  language: system
  pass_filenames: false
  entry: just test
  stages:
  - pre-commit
  priority: 20

build: update Rust toolchain to 1.96.0
  Dockerfile
  api/src/universal_inbox/notification/service.rs
  api/src/universal_inbox/task/service.rs
  devbox.json
  web/src/services/notification_service.rs
Due: fmt, hadolint, clippy, test

build: update semver-compatible Rust dependencies
  Cargo.lock
  Cargo.toml
Due: none

build: update rpassword 5 -> 7
  Cargo.lock
  api/Cargo.toml
  api/src/commands/user.rs
Due: fmt, clippy, test

build: update rand 0.9 -> 0.10
  Cargo.lock
  api/Cargo.toml
  api/src/routes/oauth2.rs
  api/src/routes/user.rs
  api/src/universal_inbox/oauth2/service.rs
  web/Cargo.toml
Due: fmt, clippy, test

build: update OpenTelemetry stack 0.31 -> 0.32
  Cargo.lock
  api/Cargo.toml
  api/src/observability.rs
Due: fmt, clippy, test

build: update actix-web-lab 0.24 -> 0.26
  Cargo.lock
  api/Cargo.toml
Due: none

build: update comrak 0.50 -> 0.52
  Cargo.lock
  web/Cargo.toml
Due: none

build: update dioxus 0.7.7 -> 0.7.9 and wasm-bindgen 0.2.108 -> 0.2.118
  Cargo.lock
  devbox.json
  devbox.lock
  web/Cargo.toml
Due: none

build: update gloo-timers 0.3 -> 0.4 and gloo-utils 0.2 -> 0.3
  Cargo.lock
  web/Cargo.toml
Due: none

build: update lzma-rust2 dev-dependency 0.15 -> 0.16
  Cargo.lock
  api/Cargo.toml
Due: none

build: update slack-morphism to 2.22 and slack-blocks-render to 0.5.2
  Cargo.lock
  Cargo.toml
Due: none

refactor(api): internalize JWT auth middleware, drop actix-jwt-authc fork
  Cargo.lock
  api/Cargo.toml
  api/src/lib.rs
  api/src/mcp/mod.rs
  api/src/middlewares/audience_guard.rs
  api/src/middlewares/jwt_auth.rs
  api/src/middlewares/mod.rs
  api/src/observability.rs
  api/src/routes/auth.rs
  api/src/routes/integration_connection.rs
  api/src/routes/notification.rs
  api/src/routes/oauth.rs
  api/src/routes/oauth2.rs
  api/src/routes/slack_bridge.rs
  api/src/routes/task.rs
  api/src/routes/third_party.rs
  api/src/routes/user.rs
Due: fmt, clippy, test

fix(security): prevent email enumeration on registration endpoint
  .claude/COMMON_MISTAKES.md
  .claude/QUICK_START.md
  .justfile
  api/src/mailer/mod.rs
  api/src/routes/user.rs
  api/src/universal_inbox/user/service.rs
  api/tests/api/helpers/user.rs
  api/tests/api/test_users.rs
  api/tests/browser/helpers.rs
  api/tests/browser/test_user_registration.rs
  web/src/layouts/fullpage.rs
  web/src/services/user_service.rs
Due: fmt, clippy, test

feat(web): gate app behind email validation with verify-email page
  api/tests/browser/helpers.rs
  api/tests/browser/test_user_registration.rs
  web/src/auth.rs
  web/src/pages/email_validation_required_page.rs
  web/src/pages/mod.rs
  web/src/route.rs
Due: fmt, clippy, test

fix(slack): backfill rich_text_list element type after slack-morphism 2.22
  api/migrations/20260601101612_fix_slack_rich_text_list_element_type.down.sql
  api/migrations/20260601101612_fix_slack_rich_text_list_element_type.up.sql
  src/third_party/integrations/slack.rs
Due: fmt, clippy, test

feat(web): surface sync degradation in integration badge + migrate StatusLeaf to Tailwind utilities
  web/css/universal-inbox.css
  web/src/components/integrations_panel.rs
  web/src/components/ui/badges.rs
Due: fmt, clippy, test

feat(api): emit HSTS header on every response
  api/src/lib.rs
  api/tests/api/test_misc.rs
Due: fmt, clippy, test

security(csp): drop 'unsafe-inline' and 'unsafe-eval' from script-src
  api/src/lib.rs
  api/tests/api/test_misc.rs
  web/index-trunk.html
  web/index.html
  web/js/headway-config.js
Due: fmt, clippy, test

fix(csp): allow Trunk's inline WASM bootstrap via runtime sha256 hash
  api/src/lib.rs
  api/tests/api/statics/index.html
  api/tests/api/test_misc.rs
Due: fmt, clippy, test

fix(linear): handle 'duplicate' workflow state type during sync
  api/src/lib.rs
  src/third_party/integrations/linear.rs
  web/src/components/integrations/linear/icons.rs
Due: fmt, clippy, test

docs: install browser extension from Firefox/Chrome stores
  doc/src/config/setup/browser-extension.md
Due: none

Path conditions:
  fmt: any of: \.rs$
  hadolint: any of: Dockerfile$
  clippy: any of: \.rs$
  test: any of: \.rs$
