Repository universal-inbox/universal-inbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, hadolint, clippy, test

fmt:
  name: Format Rust code
  description: Format files with cargo fmt
  entry: just format
  language: system
  pass_filenames: false
  args: []
  stages:
  - pre-commit
  priority: 0

hadolint:
  name: Lint Dockerfile
  language: system
  entry: just lint-dockerfile
  pass_filenames: false
  stages:
  - pre-commit
  priority: 10

clippy:
  name: Check Rust code
  language: system
  pass_filenames: false
  entry: just check
  stages:
  - pre-commit
  priority: 10

test:
  name: Test Rust code
  language: system
  pass_filenames: false
  entry: just test
  stages:
  - pre-commit
  priority: 20

feat: Hide quoted content in Gmail email previews (#160)
  CHANGELOG.md
  api/tests/api/fixtures/google_mail_thread_get_123.json
  src/third_party/integrations/google_mail.rs
  web/src/components/integrations/google_mail/preview.rs
  web/src/main.rs
Due: fmt, clippy, test

feat: Internalize OAuth for GitHub, Slack, Todoist, and Google integrations
  CHANGELOG.md
  api/config/default.toml
  api/src/integrations/github/mod.rs
  api/src/integrations/github/oauth.rs
  api/src/integrations/google_oauth.rs
  api/src/integrations/mod.rs
  api/src/integrations/oauth2/provider.rs
  api/src/integrations/slack_oauth.rs
  api/src/integrations/todoist_oauth.rs
  api/src/lib.rs
  api/src/main.rs
  api/src/universal_inbox/integration_connection/service.rs
  web/src/components/footer.rs
Due: fmt, clippy, test

feat: Internalize OAuth for GitHub, Slack, Todoist, and Google integrations (#161)
  CHANGELOG.md
  api/config/default.toml
  api/src/integrations/github/mod.rs
  api/src/integrations/github/oauth.rs
  api/src/integrations/google_oauth.rs
  api/src/integrations/mod.rs
  api/src/integrations/oauth2/provider.rs
  api/src/integrations/slack_oauth.rs
  api/src/integrations/todoist_oauth.rs
  api/src/lib.rs
  api/src/main.rs
  api/src/universal_inbox/integration_connection/service.rs
  web/src/components/footer.rs
Due: fmt, clippy, test

fix: Preserve precision of numeric-looking env vars in config loader
  api/src/configuration.rs
Due: fmt, clippy, test

fix: Mark integration connection Failing on OAuth invalid_grant
  api/.sqlx/query-ff58feb415162ba97dd664868c5b664f125afb56c68be709a180ed8c3e2e33fa.json
  api/src/integrations/oauth2/provider.rs
  api/src/repository/integration_connection.rs
  api/src/repository/oauth_credential.rs
  api/src/routes/mod.rs
  api/src/universal_inbox/integration_connection/service.rs
  api/src/universal_inbox/mod.rs
Due: fmt, clippy, test

fix: Persist MCP sessions to Redis for multi-pod restore
  Cargo.lock
  Cargo.toml
  api/Cargo.toml
  api/config/default.toml
  api/src/configuration.rs
  api/src/lib.rs
  api/src/mcp/mod.rs
  api/src/mcp/session_store.rs
  api/tests/api/main.rs
  api/tests/api/test_mcp_session_store.rs
  api/vendor/rmcp-actix-web/.gitignore
  api/vendor/rmcp-actix-web/.gitlab-ci.yml
  api/vendor/rmcp-actix-web/.releaserc.json
  api/vendor/rmcp-actix-web/CHANGELOG.md
  api/vendor/rmcp-actix-web/Cargo.toml
  api/vendor/rmcp-actix-web/LICENSE
  api/vendor/rmcp-actix-web/README.md
  api/vendor/rmcp-actix-web/SECURITY.md
  api/vendor/rmcp-actix-web/justfile
  api/vendor/rmcp-actix-web/renovate.json
  api/vendor/rmcp-actix-web/src/lib.rs
  api/vendor/rmcp-actix-web/src/transport/mod.rs
  api/vendor/rmcp-actix-web/src/transport/streamable_http_server.rs
  devbox.d/caddy/Caddyfile
  web/.justfile
Due: fmt, clippy, test

fix: Persist MCP sessions to Redis for multi-pod restore (#163)
  Cargo.lock
  Cargo.toml
  api/Cargo.toml
  api/config/default.toml
  api/src/configuration.rs
  api/src/lib.rs
  api/src/mcp/mod.rs
  api/src/mcp/session_store.rs
  api/tests/api/main.rs
  api/tests/api/test_mcp_session_store.rs
  api/vendor/rmcp-actix-web/.gitignore
  api/vendor/rmcp-actix-web/.gitlab-ci.yml
  api/vendor/rmcp-actix-web/.releaserc.json
  api/vendor/rmcp-actix-web/CHANGELOG.md
  api/vendor/rmcp-actix-web/Cargo.toml
  api/vendor/rmcp-actix-web/LICENSE
  api/vendor/rmcp-actix-web/README.md
  api/vendor/rmcp-actix-web/SECURITY.md
  api/vendor/rmcp-actix-web/justfile
  api/vendor/rmcp-actix-web/renovate.json
  api/vendor/rmcp-actix-web/src/lib.rs
  api/vendor/rmcp-actix-web/src/transport/mod.rs
  api/vendor/rmcp-actix-web/src/transport/streamable_http_server.rs
  devbox.d/caddy/Caddyfile
  web/.justfile
Due: fmt, clippy, test

docs: Document worktrunk + direnv worktree workflow
  AGENTS.md
Due: none

chore: Update worktrunk config
  .config/wt.toml
Due: none

fix(ci): pin jlumbroso/free-disk-space to commit SHA in ci-main.yml
  .github/workflows/ci-main.yml
Due: none

security: pin Cloudflare deploy to wrangler-action@v3.15.0 SHA
  .github/workflows/doc.yml
Due: none

security: pin actions-rust-lang/audit to commit SHA
  .github/workflows/audit.yml
Due: none

ci(doc): add top-level permissions: contents: read
  .github/workflows/doc.yml
Due: none

ci: pin third-party actions to commit SHAs in ci-main.yml (bkj.4)
  .github/dependabot.yml
  .github/workflows/ci-main.yml
  .pinact.yaml
  devbox.json
  devbox.lock
Due: none

test(browser): fix flaky login/signup tests by atomically submitting form
  api/tests/browser/helpers.rs
  api/tests/browser/test_user_login.rs
  api/tests/browser/test_user_registration.rs
Due: fmt, clippy, test

fix(security): stop leaking Crisp HMAC signing key via /api/front_config
  api/src/routes/config.rs
  src/lib.rs
  web/src/config.rs
Due: fmt, clippy, test

ci: pin coverallsapp/github-action to v2.3.6 SHA
  .github/workflows/ci-main.yml
Due: none

security: Pin third-party actions in ci-pr.yml to commit SHAs
  .github/workflows/ci-pr.yml
Due: none

fix(ci): pin jlumbroso/free-disk-space to v1.3.1 SHA in ci-pr.yml
  .github/workflows/ci-pr.yml
Due: none

ci: pin doc.yml actions to commit SHAs and add Dependabot
  .github/workflows/doc.yml
Due: none

fix(docker): copy vendored rmcp-actix-web into build stages and fail loudly on push errors
  Dockerfile
  docker/.justfile
Due: hadolint

fix(security): require user consent for OAuth2 authorization code
  .justfile
  api/migrations/20260518084509_create_oauth2_user_consent.down.sql
  api/migrations/20260518084509_create_oauth2_user_consent.up.sql
  api/src/lib.rs
  api/src/middlewares/audience_guard.rs
  api/src/middlewares/mod.rs
  api/src/repository/oauth2.rs
  api/src/routes/oauth2.rs
  api/src/universal_inbox/oauth2/service.rs
  api/tests/api/helpers/mod.rs
  api/tests/api/test_mcp.rs
  src/auth/oauth2.rs
  web/.justfile
  web/src/pages/mod.rs
  web/src/pages/oauth2_consent_page.rs
  web/src/route.rs
  web/src/services/mod.rs
  web/src/services/oauth2_consent_service.rs
Due: fmt, clippy, test

fix: prevent cross-tenant writes via task third_party_item endpoint
  api/src/routes/third_party.rs
  api/src/universal_inbox/third_party/service.rs
  api/tests/api/helpers/mod.rs
  api/tests/api/helpers/third_party.rs
  api/tests/api/main.rs
  api/tests/api/test_github_notifications.rs
  api/tests/api/test_slack_tasks.rs
  api/tests/api/test_sync_github_notifications.rs
  api/tests/api/test_sync_google_drive_comments.rs
  api/tests/api/test_sync_google_mail_threads.rs
  api/tests/api/test_sync_linear_notifications.rs
  api/tests/api/test_sync_ticktick_tasks.rs
  api/tests/api/test_sync_todoist_tasks.rs
  api/tests/api/test_tasks.rs
  api/tests/api/test_third_party.rs
  api/tests/api/test_ticktick_tasks.rs
  api/tests/api/test_todoist_notifications.rs
  api/tests/api/test_todoist_tasks.rs
Due: fmt, clippy, test

fix: Verify Slack webhook signatures (universal-inbox-bkj.34)
  Cargo.lock
  api/Cargo.toml
  api/config/default.toml
  api/config/test.toml
  api/src/configuration.rs
  api/src/lib.rs
  api/src/routes/webhook.rs
  api/src/universal_inbox/oauth2/service.rs
  api/tests/api/helpers/mod.rs
  api/tests/api/helpers/slack.rs
  api/tests/api/test_slack_tasks.rs
  api/tests/api/test_slack_webhook.rs
  api/tests/api/test_slack_webhook_message.rs
  api/tests/api/test_slack_webhook_star_reaction.rs
  web/Dioxus.toml
Due: fmt, clippy, test

fix(security): drop root and pin stable base in runtime stage of Dockerfile
  Dockerfile
Due: hadolint

fix(security): tighten CORS and add frame-ancestors/X-Frame-Options
  api/src/lib.rs
  api/tests/api/test_misc.rs
Due: fmt, clippy, test

fix(security): authorize_session must clear cached OIDC authorization URL
  api/src/routes/auth.rs
  api/tests/api/test_auth.rs
Due: fmt, clippy, test

fix(security): make /api/front_config Cache-Control private
  api/src/routes/config.rs
Due: fmt, clippy, test

fix(security): lighten /ping DB check and add IP rate limit
  api/src/lib.rs
  api/src/routes/health_check.rs
  api/src/universal_inbox/integration_connection/service.rs
  api/tests/api/test_health_check.rs
Due: fmt, clippy, test

fix(security): return uniform 404 on integration-connection IDOR probes
  api/src/routes/integration_connection.rs
  api/tests/api/test_integration_connections.rs
Due: fmt, clippy, test

fix(security): redact OAuth callback error chain from redirect URL
  api/src/routes/health_check.rs
  api/src/routes/oauth.rs
  api/tests/api/main.rs
  api/tests/api/test_health_check.rs
  api/tests/api/test_integration_connections.rs
  api/tests/api/test_oauth_callback.rs
  web/Cargo.toml
  web/src/pages/settings_page.rs
Due: fmt, clippy, test

fix(security): key OAuth2 rate limiter on real client IP, not peer_addr
  api/src/routes/oauth2.rs
  api/tests/api/test_mcp.rs
Due: fmt, clippy, test

fix(security): atomic refresh-token rotation with reuse detection
  api/src/repository/oauth2.rs
  api/src/universal_inbox/oauth2/service.rs
  api/tests/api/test_mcp.rs
Due: fmt, clippy, test

fix(security): add IP rate limit to authentication endpoints
  api/src/lib.rs
  api/src/routes/health_check.rs
  api/src/routes/oauth2.rs
  api/src/routes/user.rs
  api/src/utils/mod.rs
  api/src/utils/rate_limit.rs
  api/tests/api/test_mcp.rs
  api/tests/api/test_users.rs
  devbox.d/caddy/Caddyfile
Due: fmt, clippy, test

fix(security): make passkey start endpoints non-enumerable
  api/src/repository/user.rs
  api/src/routes/mod.rs
  api/src/universal_inbox/mod.rs
  api/src/universal_inbox/user/service.rs
  api/tests/api/helpers/user.rs
  api/tests/api/test_users.rs
Due: fmt, clippy, test

fix(security): bind passkey ceremonies with nonce, prefix, and origin check
  api/src/routes/user.rs
  api/src/utils/mod.rs
  api/src/utils/origin.rs
  api/tests/api/helpers/user.rs
  api/tests/api/test_auth_methods.rs
  api/tests/api/test_users.rs
  web/src/services/user_service.rs
Due: fmt, clippy, test

Path conditions:
  fmt: any of: \.rs$
  hadolint: any of: Dockerfile$
  clippy: any of: \.rs$
  test: any of: \.rs$
